
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
    <div>
      <div class="mr-5 flex align-items-center mt-3">
        <i class="pi pi-home mr-2 item-size-200"
          style="font-size: 2.5rem; color: slateblue"></i>
        <div class="font-bold text-5xl text-900">Home</div>
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <button pButton pRipple
        label="Sign up"
        class="p-button-outlined mr-2"
        icon="pi pi-user"
        routerLink="/auth/new-account"></button>
      <button pButton pRipple label="Sign in" 
        routerLink="/auth/login"></button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
