<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-10 text-center md:text-left flex align-items-center ">
        <div class="col-12 md:col-6 overflow-hidden ml-5">
            <img src="assets/images/contact us.jpg" alt="About"
            style="width: 80%;">
        </div>
        <section>
            <div class="mb-3 font-bold text-3xl">
                <span class="text-blue-600">Info about the product</span>
                <p class="mt-0 mb-4 text-700 text-xl line-height-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Omnis cum dolorum, beatae accusamus in vitae quam eligendi. Fuga, sed! Asperiores odit consectetur minus ducimus soluta nam beatae ad natus unde?</p>
            </div>
        </section>
    </div>
</div>