<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-10 text-center md:text-left flex align-items-center"
  >
    <div class="col-12 md:col-6 overflow-hidden ml-5">
      <img src="assets/images/contact us.jpg" alt="About" style="width: 80%" />
    </div>
    <section>
      <div class="mb-3 font-bold text-5xl">
        <span class="text-blue-600">Info about the product</span>
        <p class="mt-0 mb-4 text-700 text-xl line-height-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cum
          dolorum, beatae accusamus in vitae quam eligendi. Fuga, sed!
          Asperiores odit consectetur minus ducimus soluta nam beatae ad natus
          unde?
        </p>
      </div>
    </section>
  </div>
</div>
<div class="gridurface-section text-800">
  <div class="mb-3 text-4xl text-center">
    <div class="grid nested-grid">
      <div class="col-5">
        <div class="grid justify-content-center">
          <div class="col-7">
            <span class="text-blue-600 font-bold">Contact us</span>
            <div class="mr-2">
              <div class="mt-5">
                <i class="pi pi-whatsapp mr-2" style="color: green"></i>
                <span class="text-xl">+54 9 2262 235632</span>
              </div>
              <div>
                <i class="pi pi-instagram mr-2" style="color: darkmagenta"></i>
                <span class="text-xl">&#64;roomiesapp</span>
              </div>
              <div>
                <i class="pi pi-twitter mr-2" style="color: skyblue"></i>
                <span class="text-xl">&#64;roomiesapp</span>
              </div>
            </div>
          </div>
          <div class="col-7 mt-5">
            <span class="text-blue-600 font-bold mt-4">Where to find us</span>
            <div>
              <i class="pi pi-map-marker mr-2" style="color: crimson"></i>
              <span class="text-xl">Av. Colón 1114 esq. Viamonte</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <shared-map></shared-map>
      </div>
    </div>
  </div>
</div>
