<p-toast></p-toast>
<form  [formGroup]="registerForm"
        (ngSubmit) = "register()">
    <div class="surface-card p-4 shadow-2 border-round w-6 m-auto">
        <h1 class="text text-center">Create account</h1>
        <span class="p-input-icon-left w-full">
            <i class="pi pi-at"></i>
            <input id="user" type="text" 
                placeholder="Username" 
                pInputText class="w-full"
                formControlName="username">
        </span>
        <span *ngIf="isValidField('username')"
        class="text-orange-700">Must be at least 6 characters long</span>

        <span class="p-input-icon-left mt-3 w-full">
            <i class="pi pi-user"></i> 
            <input id="name" type="text" 
                placeholder="Name" 
                pInputText class="w-full"
                formControlName="name">
        </span>
        <span *ngIf="isValidField('name')"
            class="text-orange-700">Please enter your first and last name</span>
   
        <span class="p-input-icon-left mt-3 w-full">
            <i class="pi pi-envelope"></i> 
            <input id="email" type="text" 
                placeholder="Email" 
                pInputText class="w-full"
                formControlName="email">
        </span>
        <span *ngIf="isValidField('email')"
            class="text-orange-700">Invalid email format</span>

        <span class="p-input-icon-left mt-3 w-full">
            <i class="pi pi-lock"></i>
            <input id="pass" type="password" 
                placeholder="Password" 
                pInputText class="w-full"
                formControlName="password">
        </span>
        <span *ngIf="isValidField('password')"
            class="text-orange-700">Must be at least 6 characters long</span>
        

        <span class="p-input-icon-left mt-3 w-full">
            <i class="pi pi-lock"></i>
            <input id="pass2" type="password" 
                placeholder="Confirm password" 
                pInputText class="w-full"
                formControlName="password2">
        </span>
        <span *ngIf="isValidField('password2')"
            class="text-orange-700">Passwords do not match</span>

        <button pButton pRipple label="Sign up" 
            [disabled]="registerForm.invalid"
            class="w-full mt-3"
            ></button>
        <hr>
   
        <a routerLink="/auth/login" class="block text-center">I already have an account!</a>
        </div>
</form>